*, *::before, *::after {
  box-sizing: border-box;
}

/*Layout*/

.container {
  display: flex;
  max-width: $container-max-width;
  margin: 0 auto;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: calc(#{$container-max-width} - #{$sidebar-width});
  background: $color-three;
  height: 100%;
}

.container-sections {
  padding: 1em;
  height: calc(100vh - #{$topbar-height});
  overflow-y: scroll;
}

.section {
  position: relative;
  margin: 0;
  margin-bottom: 1.3em;
  box-shadow: 0 0 1em $color-one;
  background: $color-four;
  
  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    margin: -1px;
    color: $color-one;
    font-family: $paragraph-font;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-border {
  padding: 1em;
  border-bottom: 1px solid $color-three;
}

.row-center {
  width: 60%;
  margin: 1em auto;
}

.row-center-links {
  width: 66%;
  margin: 1em auto;
}

.row-item-center {
  align-items: center;
  justify-content: center;
}

.row-table {
  border-collapse: collapse;
}

.row-btn { 
  text-align: center;
  padding: 2em;
}

/*Responsive-----------------------------------------------------------*/

@media($breakpoint-small){
  @include grid('sm');

  .container {
    height: calc(100vh - #{$topbar-height}); 
    //height: 100vh;
  }

  .container-main {
    width: $sidebar-small-width;
  }

  .container-sections {
    padding: 0.4em;
    padding-left: 0;
  }

  .row-title {
    text-align: center;
  }

  .row-item-center {
    padding-bottom: 1em;
  }

  .row-center {
    width: 85%;
  }

}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}