/*Dots----------------------------------------------------------------*/
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.dot-signup {
  background: #8DBEC8;
}

.dot-ftd {
  background: #F29E4E;
}

.dot-earned {
  background: #71B374;
}

@media($breakpoint-small){
  @include grid('sm');

  .dot {
    margin: 10px 0 0 5px;
    width: 8px;
    height: 8px;
    padding: 0;
  }
}



