/*Input------------------------------------------------------------*/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

fieldset {
  position: relative;
  padding: 0.2em;
  margin: 1.2em;
  border: 1px solid $color-three;
  border-left: none;
  width: 320px;

  &:hover {
    border: 1px solid $color-thirteen;
    
    .date-i {
      color: $color-thirteen;
    }
  }
 
}

.input {
  border: hidden;
  height: 30px;
  padding: 0.5em 0.5em 0.5em 1em;
  color: $color-three;
  background: none;
  outline: none;
  cursor: pointer;
}

.input-r {
  border-left: 1px solid $color-three;
  padding-left: 0.5em;
}

.date-i {
  position: absolute;
  right: 9px;
  top: 10px;
  color: $color-one;
}

.btn-date-link {
  position: relative;

  .btn-date-i {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}

@media($breakpoint-small){
  @include grid('sm');

  .date-small.date-i {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .btn-date {
    margin: 15px;
  }

}