/*Table---*/
.table-wrapper {
  display: flex;
}

.table {
  margin: 0;
  padding: 0;
  width: 80%;
  font-family: $paragraph-font;
  font-size: $paragraph-font-size;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color-three;

    &:hover {
      background: $color-three;
      cursor: pointer;
    }
  }

  td {
    padding: 20px 5px 7px 5px;
    
    text-align: left;

    &:nth-child(even) {
      width: 30%;
      border: none;
      margin-right: 30px;
      text-align: right;
      color: $paragraph-color;
    }

    &:nth-child(odd) {
      color: $color-one;
      font-weight: bold;
    }
  }
}

.table-right {
  margin-right: 0;
  margin-left: auto;
}

/*.table-links {
  font-family: $paragraph-font;
  margin-top: 0;

  
  tr {
    text-align: left;
    border-bottom: 1px solid $color-three;

    &:first-child {
      border-top: 1px solid $color-three;
    }

    &:hover {
      background: $color-three;
      transition: 1s;

      i {
        opacity: 1;

        &:hover {
          color: $color-five;
        }
      }
    }
  
    td {
    
      padding: 1.3em;

      &:nth-child(odd) {
        color: $color-one;
      }

      &:nth-child(2) {
        padding-left: 155px;
      }
    }
  
    a {
      text-decoration: none;
      color: $color-twelve;
    }

    i {
      height: 15px;
      width: 15px;
      opacity: 0;
    }
  }
}*/

@media($breakpoint-small){
  @include grid('sm');

  .table-wrapper {
    margin: 0 35px;
  }

  .table.table-small {
    td {
      display: block;
      text-align: center;
      padding-left: 5px;
      
      &:nth-of-type(2) {
        margin: 0 auto;
      }
    }
  }

  /*.table-links .table-links-small {
    text-align: center;

    td {
      display: block;

      &:nth-of-type(3), &:nth-of-type(4) {
        display: inline-block;
      }

      &:nth-child(2) {
        padding-left: 40px !important;
      }
    }
  }*/
}